/* CSS Document */

@font-face {
  font-family: 'oregonregular';
  src: url('../oregon-font/oregon-webfont.eot');
  src: url('../oregon-font/oregon-webfont.eot?#iefix') format('embedded-opentype'), url('../oregon-font/oregon-webfont.woff2') format('woff2'), url('../oregon-font/oregon-webfont.woff') format('woff'), url('../oregon-font/oregon-webfont.ttf') format('truetype'), url('../oregon-font/oregon-webfont.svg#oregonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  position: fixed;
  width: 100%;
  background-image: url("../img/background.jpg");
  background-size: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
.old-back {
  background-image: url("../img/background.jpg");
}
h1 {
  font: 2.5em 'oregonregular', sans-serif;
  font-size: 4vh;
  color: white;
  margin: 0;
  text-shadow: 1px 1px 6px rgba(80, 80, 80, 0.2);
}
h2, .header div {
  font: 1.2em 'oregonregular', sans-serif;
  color: white;
  margin: 0;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  margin: 20px;
  margin-bottom: 0;
}
.header div {
  flex: 1;
  color: white;/*#505050;*/
}
.header div a {
  color: white;/*#505050;*/
  text-decoration: underline;
}
.header div:first-child {
  text-align: left;
}
.header div:last-child {
  text-align: right;
}
.spacer {
  display: flex;
  flex: 3;
}
.spacer-2 {
  display: flex;
  flex: 1;
}
.logo {
  display: block;
  max-height: 35vh;
  max-width: 90vw;
  height: 35vh;
  width: auto;
  margin: 0 auto;
  -webkit-filter: drop-shadow(1px 1px 6px rgba(80, 80, 80, 0.1));
  filter: drop-shadow(1px 1px 6px rgba(80, 80, 80, 0.1));
}
.footer {
  text-align: center;
  /*margin-bottom: 20px;*/
}
.mailing-list:hover, .icons img:hover {
  opacity: 1;
}
.mailing-list {
  background-image: url("../img/border.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  /*margin-top: 50px;*/
  /*margin-bottom: 15px;*/
}
.icons {
  /*display: none;*/
}
.icons img, .icons svg {
  width: 25px;
  margin: 15px;
  fill: white;
}
.small-screen {
  display: none;
}
@media screen and (max-width: 700px) {
  .small-screen {
    display: flex;
  }
  .large-screen {
    display: none;
  }
  h2, .header div {
    font: 1em 'oregonregular', sans-serif;
    color: white;
    margin: 0;
  }
}
