/* CSS Document */

@font-face {
  font-family: 'oregonregular';
  src: url('../oregon-font/oregon-webfont.eot');
  src: url('../oregon-font/oregon-webfont.eot?#iefix') format('embedded-opentype'), url('../oregon-font/oregon-webfont.woff2') format('woff2'), url('../oregon-font/oregon-webfont.woff') format('woff'), url('../oregon-font/oregon-webfont.ttf') format('truetype'), url('../oregon-font/oregon-webfont.svg#oregonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  position: fixed;
  width: 100%;
  background-image: url("../img/background.jpg");
  background-size: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
h1 {
  font: 2em 'oregonregular', sans-serif;
  /*font-size: 4vh;*/
  color: white;
  margin: 0;
  text-shadow: 1px 1px 6px rgba(80, 80, 80, 0.2);
}
h2 {
  font: 1.2em 'oregonregular', sans-serif;
  color: white;
  margin: 0;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  margin: 20px auto;
  padding: 0 20px;
  margin-bottom: 0;
  max-width: 800px;
}
.header h2 {
  flex: 1;
  color: white;
  text-shadow: 1px 1px 6px rgba(80, 80, 80, 0.2);
}
.header:hover h2{
  text-shadow: 2px 2px 3px rgba(80, 80, 80, 0.5);
}
.header div a {
  color: white;
  text-decoration: underline;
  text-shadow: 1px 1px 6px rgba(80, 80, 80, 0.2);
}
.header h2:first-child {
  text-align: left;
}
.header h2:last-child {
  text-align: right;
}
.spacer {
  display: flex;
  flex: 3;
}
.spacer-2 {
  display: flex;
  flex: 1;
}
.logo {
  display: block;
  max-height: 40vh;
  max-width: 80vw;
  /*height: 40vh;*/
  width: auto;
  margin: 0 auto;
  /*-webkit-filter: drop-shadow(2px 2px 6px rgba(80, 80, 80, 0.2));*/
  filter: drop-shadow(1px 1px 6px rgba(80, 80, 80, 0.15));
}
.footer {
  text-align: center;
  margin-bottom: 20px;
}
.mailing-list {
  background-image: url("../img/border.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px;
  /*margin-top: 50px;*/
  /*margin-bottom: 15px;*/
}
.icons img, .icons svg {
  width: 25px;
  margin: 15px;
  fill: white;
}
.icons img:hover, .icons svg:hover, .mailing-list:hover {
  filter: drop-shadow(2px 2px 3px rgba(40, 40, 40, .75));
}
.icons img:active, .icons svg:active, .mailing-list:active {
  filter: drop-shadow(-1px -1px 5px rgba(40, 40, 40, .75)) brightness(90%);
}
@media screen and (max-width: 700px) {
  h2, .header div {
    font: 1em 'oregonregular', sans-serif;
    color: white;
    margin: 0;
  }
  .header {
    margin: 10px auto;
    margin-bottom: 0;
  }
  .icons {
    margin-bottom: 60px;
  }
  .icons img, .icons svg {
    width: 20px;
    margin: 10px;
    fill: white;
  }
  .mailing-list {
    padding: 5px;
  }
}
