/* CSS Document */

@font-face {
  font-family: 'oregonregular';
  src: url('../oregon-font/oregon-webfont.eot');
  src: url('../oregon-font/oregon-webfont.eot?#iefix') format('embedded-opentype'), url('../oregon-font/oregon-webfont.woff2') format('woff2'), url('../oregon-font/oregon-webfont.woff') format('woff'), url('../oregon-font/oregon-webfont.ttf') format('truetype'), url('../oregon-font/oregon-webfont.svg#oregonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  position: fixed;
  width: 100%;
  background-image: url("../img/background.jpg");
  background-size: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  /*min-width: 440px;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
h1 {
  font: 2em 'oregonregular', sans-serif;
  color: white;
  margin: 0;
  text-shadow: 1px 1px 6px rgba(80, 80, 80, 0.2);
}
h2 {
  font: 1.2em 'oregonregular', sans-serif;
  color: white;
  margin: 0;
  letter-spacing: .07em;
}
a {
  text-decoration: none;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  padding: 0 20px;
  margin-bottom: 0;
  max-width: 800px;
}
.header h2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: rgba(255, 255, 255, 0.85);
}
.header:hover h2{
  text-shadow: 1px 1px 3px rgba(80, 80, 80, 0.3);
  color: white;
}
.header:active h2{
  text-shadow: -1px -1px 3px rgba(80, 80, 80, 0.3);
  color: rgb(240, 240, 240);
}
.header h2:first-child {
  text-align: left;
}
.header h2:last-child {
  text-align: right;
}
.header a {
  color: white;
  text-decoration: underline;
  text-shadow: 1px 1px 6px rgba(80, 80, 80, 0.2);
}
.spacer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.spacer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.logo {
  display: block;
  /*max-height: 40vh;
  max-width: 80vw;*/
  height: 40vmin;
  margin: 0 auto;
  -webkit-filter: drop-shadow(1px 1px 6px rgba(80, 80, 80, 0.15));
          filter: drop-shadow(1px 1px 6px rgba(80, 80, 80, 0.15));
}
.footer {
  text-align: center;
  margin-bottom: 20px;
}
.mailing-list {
  background-image: url("../img/border.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: .7em;
}
.icons img, .icons svg {
  width: 25px;
  margin: 15px;
  fill: white;
}
.icons img:hover, .icons svg:hover, .mailing-list:hover {
  -webkit-filter: drop-shadow(2px 2px 3px rgba(40, 40, 40, .75));
          filter: drop-shadow(2px 2px 3px rgba(40, 40, 40, .75));
}
.icons img:active, .icons svg:active, .mailing-list:active {
  -webkit-filter: drop-shadow(-1px -1px 5px rgba(40, 40, 40, .75)) brightness(90%);
          filter: drop-shadow(-1px -1px 5px rgba(40, 40, 40, .75)) brightness(90%);
}
@media screen and (max-width: 600px) {
  h2 {
    font: 1.1em 'oregonregular', sans-serif;
    color: white;
    margin: 0;
  }
  .header {
    margin: 10px auto;
    margin-bottom: 0;
  }
  .logo {
    height: auto;
    width: 85%;
  }
  .icons {
    margin-bottom: 60px;
  }
  /*.icons img, .icons svg {
    width: 25px;
    margin: 15px;
    fill: white;
  }*/
  .mailing-list {
  padding: .6em;
  }
}
